---
layout: default
---
<div class="row py-5 my-5">
    <h1>ハロー👋🏼 I am Katy,</h1>
    <!-- <p class="fs-5 lh-1">Tokyo-based experience designer.</p> -->
    <p class="fs-5 lh-1">British-born, multi-cultured, polylingual, Tokyo-based experience designer.</p>
    <p class="fs-5 lh-1">Currently supporting a DX project for the retail industry.</p>
    <p class="fs-5 lh-1">Previously Goodpatch, Oracle, Vyond, Ribose and OPX Studio.</p>
</div>

<div class="row py-4">
    <p class="fs-6 font-monospace">Past Projects・過去のプロジェクト</p>{% for project in site.projects %}
    <div class="col-md-6 my-2">
      <div class="card"><a href="{{ site.url }}{{ site.baseurl }}{{ project.url }}">
        <img src="{{ project.teaser-image }}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">{{ project.title }} 🔒</h5>
            <p class="card-text text-truncate">{{ project.description }}</p>
          </div>
        </div>
    </div>{% endfor %}
</div>

<div class="row py-5">
  <p class="fs-6 font-monospace">Photography・フォトグラフィー</p>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card shadow">
      <img src="assets/photos/2-1.jpg" class="rounded" alt="...">
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card shadow">
      <img src="assets/photos/2-2.jpg" class="rounded" alt="...">
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card shadow">
      <img src="assets/photos/2-3.jpg" class="rounded" alt="...">
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card shadow">
      <img src="assets/photos/2-4.jpg" class="rounded" alt="...">
    </div>
  </div>
</div>

<div class="row py-5">
    <p class="fs-6 font-monospace">Writings</p>
      {% for post in site.posts %}
          <p><a href="{{ post.url }}">{{ post.title }}</a></p>
      {% endfor %}
</div>