---
layout: default
title: "Projects"
---

<div class="row py-5 my-5">
  <h1>Past Projects・過去のプロジェクト</h1>
</div>

    <div class="row py-4">{% for project in site.projects %}
        <div class="col-md-6">
          <div class="card my-4"><a href="{{ site.url }}{{ site.baseurl }}{{ project.url }}">
            <img src="{{ project.teaser-image }}" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title">{{ project.title }} 🔒</h5>
                <p class="card-text text-truncate">{{ project.description }}</p>
                {% for tag in project.tags %}
                <span class="badge rounded-pill bg-dark">{{ tag }}</span>
                {% endfor %}
              </div>
            </div>
        </div>{% endfor %}
    </div>


