---
layout: default
title: "Writings"
---

<div class="row py-5 my-5">
  <h1>Posts・ポスト</h1>
</div>


<div class="row py-4">
  <p class="fs-6 font-monospace"><b>Read / Reading</b></p>
  {% assign writing_posts = site.posts | where: "tags", "book" %}{% for post in writing_posts %}
    <div class="col-md-4 my-2">
      <div class="card"><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
        <img src="{{ post.image }}" class="card-img-top-fit" alt="title cover"></a>
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text text-truncate">{{ post.description }}</p>
          </div>
        </div>
    </div>{% endfor %}
</div>

<div class="row py-4">
  <p class="fs-6 font-monospace"><b>Writings</b></p>
  {% assign writing_posts = site.posts | where: "tags", "writing" %}{% for post in writing_posts %}
    <div class="col-md-4 my-2">
      <div class="card"><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
        <img src="{{ post.image }}" class="card-img-top-fit" alt="title cover"></a>
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text text-truncate">{{ post.description }}</p>
          </div>
        </div>
    </div>{% endfor %}
</div>