
    <nav class="navbar navbar-expand-sm custom-navbar-bg fixed-top" aria-label="Navbar"><div class="container">
    <a class="navbar-brand" href="/"><img src="/assets/img/oden.png" height="26px" class="oden-logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link" href="/" {% if page.url == "/" %}style="color: var(--primary-color); text-decoration: underline;"{% endif %}>Home</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/projects.html" {% if page.url == "/projects.html" %}style="color: #var(--primary-color); text-decoration: underline;"{% endif %}>Projects</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/photos.html" {% if page.url == "/photos.html" %}style="color: var(--primary-color); text-decoration: underline;"{% endif %}>Photography</a>
          </li>      
          <li class="nav-item">
            <a class="nav-link" href="/writings.html" {% if page.url == "/writings.html" %}style="color: var(--primary-color); text-decoration: underline;"{% endif %}>Reading & Writing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about.html" {% if page.url == "/about.html" %}style="color: var(--primary-color); text-decoration: underline;"{% endif %}>About</a>
          </li>
        </ul>
      </div>  
    </div>
    </nav>
